QctControlAsistencia/.vs/QctControlAsistencia/v15/Server/sqlite3/storage.ide-wal
QctControlAsistencia/.vs/QctControlAsistencia/v15/Server/sqlite3/storage.ide-shm
QctControlAsistencia/.vs/QctControlAsistencia/v15/Server/sqlite3/storage.ide
QctControlAsistencia/.vs/QctControlAsistencia/v15/Server/sqlite3/db.lock
QctControlAsistencia/.vs/QctControlAsistencia/v15/.suo
