@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Quimmco Centro Tecnologico<br />
    Saltillo Coahuila<br />
    <abbr title="Phone">P:</abbr>
    844-
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">ricardo.zavala@qct.com.mx</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
